<a href="https://colab.research.google.com/github/fabiusdefly/ML/blob/main/parquet_viewer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyarrow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (6.0.1)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.7/dist-packages (from pyarrow) (1.21.6)

In [21]:
import pandas as pd

In [22]:
parquet_file = '/content/contrats_assurances.parquet'

In [24]:
df = pd.read_parquet(parquet_file, engine='auto')
df

,ID_contrat_externe,date_situation,flag_contrat_fin_annee,flag_nantissement,ref_ext_contrat,num_contrat,ancien_num_contrat,ID_contrat_CCF,code_agence,date_effet_contrat,...,ID_intermediaire,ID_RM,ID_conseiller,VP_montant_unitaire,VP_date_debut,VP_periodicite,RPP_montant_unitaire,RPP_montant_brut_ou_net,RPP_date_debut,RPP_periodicite
0,string,1970-01-01,True,True,string,string,string,string,string,1970-01-01,...,string,string,string,0.1,1970-01-01,b'ANN',0.1,string,1970-01-01,b'ANN'

**Modification du fichier Parquet**

In [25]:
df[["code_role", "ref_ext_personne", "code_famille_produit", "date_cotation", "date_valorisation", "ref_ID_produit_CCF", "ID_support_composant", "ref_ID_support_info_generale", "ID_support_info_generale", "code_courant", "code_precedent", "designation"]] = "string"
df

,ID_contrat_externe,date_situation,flag_contrat_fin_annee,flag_nantissement,ref_ext_contrat,num_contrat,ancien_num_contrat,ID_contrat_CCF,code_agence,date_effet_contrat,...,code_famille_produit,date_cotation,date_valorisation,ref_ID_produit_CCF,ID_support_composant,ref_ID_support_info_generale,ID_support_info_generale,code_courant,code_precedent,designation
0,string,1970-01-01,True,True,string,string,string,string,string,1970-01-01,...,string,string,string,string,string,string,string,string,string,string

In [26]:
df.to_parquet('contrats_assurances3.parquet')